app/assets/xsd/createUser.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="user">
    <xs:complexType>
      <xs:sequence>      
        <xs:element name="name" type="xs:string" minOccurs="1"  />
        <xs:element name="email" type="xs:string" minOccurs="1" />
        <xs:element name="password" type="xs:string" minOccurs="1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>