public/xsd/friendshipRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="friendshipRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="fromId" type="xs:integer" />
        <xs:element name="toId" type="xs:integer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>